<head>
    <meta charset="utf-8">
    <title>Certificate</title>
  
    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  
    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">
    <!-- Set page size here: A5, A4 or A3 -->
    <!-- Set also "landscape" if you need -->
    <style>@page { size: A4 landscape }</style>
  </head>
  <body class="A4 landscape">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <!--<section class="sheet padding-10mm">-->
    <section class="sheet" style="padding: 6mm;">
  
      <!-- Write HTML just like a web page -->
      <div class="color-div">
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
      </div>
      <h4>{{certificate.event_name}} - {{certificate.event_location}}</h4>
      <div class="color-div">
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
      </div>
      <img src="assets/img/logo-green.png" alt="Logo" style="width: 30%;">
      <h3>{{certificate.certificate_header}}</h3>
      <h2>{{certificate.full_name}}</h2>
      <p>{{certificate.certificate_content}}<br><br><br></p>
  <!-- <div class="signature-box">
    <div class="left-sign"><h3><%SignedBy1%></h3><h5><%Title1%></h5></div>
    <div class="right-sign"><h3><%SignedBy2%></h3><h5><%Title2%></h5></div>
  </div> -->
  <div class="color-div-footer">
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
        <div class="color-box asphalt"></div>
      </div>
    </section>
  
  </body>