<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Customer List
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <a routerLink="/customers/new" class="btn btn-success btn-pill btn-sm">
                    <i class="fa fa-plus marr10"></i>Add New
                </a>

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-section">
            <div class="kt-section__content">

                <div class="kt-pagination  kt-pagination--brand">
                    <ul class="kt-pagination__links">
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Creation Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers;">
                                <td>{{customer.customer_name}}</td>
                                <td>{{customer.created_on}}</td>
                                <td>
                                    <!-- <button class="btn btn-success mr-2"
                                        [routerLink]="['/users/detail/'+user.user_id]">Update</button>
                                    <button class="btn btn-danger mr-2" (click)="deleteUser(user.user_id, user.email)"><i
                                        class="fa fa-trash"></i>Delete</button> -->
                                    <button class="btn btn-success mr-2" [routerLink]="['/customers/detail/'+customer.customer_id]">Update</button>
                                    <button class="btn btn-danger mr-2" (click)="deleteCustomer(customer.customer_id, customer.customer_name)"><i
                                            class="fa fa-trash"></i>Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>