<div class="kt-portlet">
    <div class="kt-portlet__head  d-flex align-items-center justify-content-between">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Add New Customer
            </h3>
        </div>
        <button type="button" routerLink="/customers" class="btn btn-secondary mr-3">Back to List</button>
    </div>
    <div class="container" style="width: 90%">
        <form class="kt-form kt-form--label-left" autocomplete="off">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <label for="customer_name" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="customer_name" name="customer_name" [(ngModel)]="customer.customer_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="domain_name" class="col-2 col-form-label">Domain Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="domain_name" name="domain_name" [(ngModel)]="customer.domain_name">
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-success" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>