<div class="kt-portlet">
    <div class="kt-portlet__head  d-flex align-items-center justify-content-between">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Add New Customer
            </h3>
        </div>
        <button type="button" routerLink="/customers" class="btn btn-secondary mr-3">Back to List</button>
    </div>
    <div class="container" style="width: 90%">
        <form class="kt-form kt-form--label-left" autocomplete="off">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <label for="customer_name" class="col-2 col-form-label">Customer Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="customer_name" name="customer_name" [(ngModel)]="customer.customer_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="domain_name" class="col-2 col-form-label">Domain Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="domain_name" name="domain_name" [(ngModel)]="customer.domain_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="role_name" class="col-2 col-form-label">Role Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="role_name" name="role_name" [(ngModel)]="role.role_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_name" class="col-2 col-form-label">User Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="user_name" name="user_name" [(ngModel)]="user.first_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_lastname" class="col-2 col-form-label">User Surname</label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="user_lastname" name="user_lastname" [(ngModel)]="user.last_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">User E-mail</label>
                    <div class="col-10">
                        <input class="form-control" autocomplete="off" type="email" id="email" name="email"
                            [(ngModel)]="user.email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-2 col-form-label">Username</label>
                    <div class="col-10">
                        <input class="form-control" autocomplete="off" type="text" id="username" name="username"
                            [(ngModel)]="user.username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-2 col-form-label">Password</label>
                    <div class="col-10">
                        <input class="form-control" autocomplete="off" type="password" id="password" name="password"
                            [(ngModel)]="user.password">
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-success" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>