<div class="kt-grid kt-grid--ver kt-grid--root kt-page" style="min-height: 100vh;">
    <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
            style="background-image: url(assets/media/bg/bg-2.jpg);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper" style="display: flex;align-items: center">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a href="#">
                            <img src="assets/img/logo.png" style="width: 64px;height:64px;">
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <form class="kt-form">
                            <div class="input-group">
                                <input [(ngModel)]="credentials.username" class="form-control" type="text"
                                    placeholder="Username" name="username" autocomplete="off" (keyup.enter)="login()">
                            </div>
                            <div class="input-group">
                                <input [(ngModel)]="credentials.password" class="form-control" type="password"
                                    placeholder="Şifre" name="password" (keyup.enter)="login()">
                            </div>
                            <a style="display: block; margin: 8px 0; font-weight:bold; color: #fff;cursor:pointer"
                                (click)="showPasswordModal()">Şifremi unuttum</a>
                            <div class="kt-login__actions">
                                <button type="button" id="kt_login_signin_submit" (click)="login()"
                                    class="btn btn-pill kt-login__btn-primary">Giriş
                                    Yap</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade">
    <div class="modal-dialog" role="document" style="max-width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Şifre değiştir</h5>
                <button type="button" class="close" (click)="hidePasswordModal()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="resetPassword.step === 0">
                    <div class="form-group row">
                        <label for="forgotEmail" class="col-4 col-form-label">Sistemde kayıtlı email adresiniz</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="forgotEmail" name="forgotEmail"
                                [(ngModel)]="resetPassword.email">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary font-weight-bold" (click)="sendCode()">İleri</button>
                </ng-container>
                <ng-container *ngIf="resetPassword.step === 1">
                    <div class="form-group row">
                        <label for="code" class="col-4 col-form-label">Mail adresinize gönderilen kod</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="code" name="code"
                                [(ngModel)]="resetPassword.code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPass" class="col-4 col-form-label">Yeni Şifreniz</label>
                        <div class="col-8">
                            <input class="form-control" type="password" id="newPass" name="newPass"
                                [(ngModel)]="resetPassword.password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassAgain" class="col-4 col-form-label">Yeni Şifreniz (Tekrar)</label>
                        <div class="col-8">
                            <input class="form-control" type="password" id="newPassAgain" name="newPassAgain"
                                [(ngModel)]="resetPassword.passwordAgain">
                        </div>
                    </div>
                    <button type="button"
                        [disabled]="!resetPassword.password || !resetPassword.passwordAgain||resetPassword.password !== resetPassword.passwordAgain"
                        class="btn btn-primary font-weight-bold" (click)="changePassword()">Değiştir</button>
                </ng-container>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold"
                    (click)="hidePasswordModal()">Kapat</button>
            </div> -->
        </div>
    </div>
</div>