<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Application List
            </h3>
        </div>
        <!-- <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <a routerLink="/events/new" class="btn btn-success btn-pill btn-sm">
                    <i class="fa fa-plus marr10"></i>Add new event
                </a>
            </div>
        </div> -->
    </div>
    <div class="kt-portlet__body">
        <div class="kt-section">
            <div class="kt-section__content">

                <div class="kt-pagination  kt-pagination--brand">
                    <ul class="kt-pagination__links">
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Event Name</th>
                                <th>Event Start Date</th>
                                <th>Event End Date</th>
                                <th>Application Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let application of applications;">
                                <td>{{getUserFirstName(application.user_id)}}</td>
                                <td>{{getUserLastName(application.user_id)}}</td>
                                <td>{{getUserEmail(application.user_id)}}</td>
                                <td>{{getEventName(application.event_id)}}</td>
                                <td>{{getEventStartDate(application.event_id)}}</td>
                                <td>{{getEventEndDate(application.event_id)}}</td>
                                <td>{{application.applied_on}}</td>
                                <td>{{getApplicationStatus(application.application_status)}}</td>
                                <td>
                                    <button class="btn btn-success mr-2"
                                        (click)="showUpdateStatusModal(application)">Update Status</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateStatus">
    <div class="modal-dialog" role="document" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
                <button type="button" class="close" (click)="hideUpdateStatusModal()" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="project" class="col-3 col-form-label">Application Status</label>
                    <div class="col-lg-9">
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--solid">
                                <input id="projectStatusRadio" name="projectStatusRadio" type="radio" [value]="1"
                                    [(ngModel)]="newStatusBody.status" />
                                Applied
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid">
                                <input id="projectStatusRadio" name="projectStatusRadio" type="radio" [value]="2"
                                    [(ngModel)]="newStatusBody.status" />
                                Accepted
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid">
                                <input id="projectStatusRadio" name="projectStatusRadio" type="radio" [value]="3"
                                    [(ngModel)]="newStatusBody.status" />
                                Rejected
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid">
                                <input id="projectStatusRadio" name="projectStatusRadio" type="radio" [value]="4"
                                    [(ngModel)]="newStatusBody.status" />
                                Attended
                                <span></span>
                            </label>
                            <br><br>
                            <label class="kt-radio kt-radio--solid">
                                <input id="projectStatusRadio" name="projectStatusRadio" type="radio" [value]="5"
                                    [(ngModel)]="newStatusBody.status" />
                                Not Attended
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid">
                                <input id="projectStatusRadio" name="projectStatusRadio" type="radio" [value]="6"
                                    [(ngModel)]="newStatusBody.status" />
                                Completed
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark font-weight-bold"
                    (click)="hideUpdateStatusModal()">Close</button>
                <button type="button" class="btn btn-success font-weight-bold" (click)="updateStatus()">Update</button>
                <button type="button" class="btn btn-primary font-weight-bold" (click)="createCertificate()">Create
                    Certificate</button>
            </div>
        </div>
    </div>
</div>