<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Certificates
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <a routerLink="/users/new" class="btn btn-success btn-pill btn-sm">
                    <i class="fa fa-plus marr10"></i>Add Certificate
                </a>

            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-section">
            <div class="kt-section__content">

                <div class="kt-pagination  kt-pagination--brand">
                    <ul class="kt-pagination__links">
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Certified On</th>
                                <th>Certificate Link</th>
                                <th>Properties</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <!-- <tr *ngFor="let user of users;"> -->
                                <!-- <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{getRoleName(user.roleId)}}</td>
                                <td>
                                    <button class="btn btn-info mr-2" (click)="showChangePasswordModal(user)">Şifre
                                        Değiştir</button>
                                    <button class="btn btn-success mr-2"
                                        [routerLink]="['/users/detail/'+user.id]">Düzenle</button>
                                    <button class="btn btn-danger mr-2" (click)="deleteUser(user.id, user.email)"><i
                                            class="fa fa-trash"></i>sil</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>